@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 60 98% 89%;    /* #fafdcb */
    --foreground: 222.2 84% 4.9%;

    --card: 181 67% 80%;         /* #aee7e8 */
    --card-foreground: 222.2 84% 4.9%;

    --popover: 60 98% 89%;       /* #fafdcb */
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 187 68% 49%;      /* #28c3d4 */
    --primary-foreground: 210 40% 98%;

    --secondary: 197 64% 41%;    /* #248ea9 */
    --secondary-foreground: 210 40% 98%;

    --muted: 181 67% 80%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 187 68% 49%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 187 68% 49%;
    --input: 187 68% 49%;
    --ring: 197 64% 41%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}